In [ ]:
import pandas as pd
df11 = pd.read_csv('../../../data/2023/prices_round_1_day_-2.csv', delimiter=';')
df12 = pd.read_csv('../../../data/2023/prices_round_1_day_-1.csv', delimiter=';')
df13 = pd.read_csv('../../../data/2023/prices_round_1_day_0.csv', delimiter=';')

df21 = pd.read_csv('../../../data/2023/prices_round_2_day_-1.csv', delimiter=';')
df22 = pd.read_csv('../../../data/2023/prices_round_2_day_0.csv', delimiter=';')
df23 = pd.read_csv('../../../data/2023/prices_round_2_day_1.csv', delimiter=';')

df31 = pd.read_csv('../../../data/2023/prices_round_3_day_0.csv', delimiter=';')
df32 = pd.read_csv('../../../data/2023/prices_round_3_day_1.csv', delimiter=';')
df33 = pd.read_csv('../../../data/2023/prices_round_3_day_2.csv', delimiter=';')

df41 = pd.read_csv('../../../data/2023/prices_round_4_day_1.csv', delimiter=';')
df42 = pd.read_csv('../../../data/2023/prices_round_4_day_2.csv', delimiter=';')
df43 = pd.read_csv('../../../data/2023/prices_round_4_day_3.csv', delimiter=';')

df1 = pd.concat([df11, df12, df13])
df2 = pd.concat([df21, df22, df23])
df3 = pd.concat([df31, df32, df33])
df4 = pd.concat([df41, df42, df43])

product1 = list(df1['product'].unique())
product2 = list(df2['product'].unique())
product3 = list(df3['product'].unique())
product4 = list(df4['product'].unique())

products = product1 + product2 + product3 + product4

In [ ]:
product_dfs = {}
for df, products in [(df1, product1), (df2, product2), (df3, product3), (df4, product4)]:
    for product in products:
        product_dfs[product] = df[df['product'] == product]

In [ ]:
product = 'UKULELE'
df = product_dfs[product]
plt.plot(df['timestamp'], df['mid_price'], label=product)
plt.show()