In [2]:
import pandas as pd
import numpy as np

In [3]:
%pwd

'/Users/IvanTang/quant/IMC_Prosperity3_GraniteFlow/src/analysis/round5'

In [4]:
%cd ../../../data/round5

/Users/IvanTang/quant/IMC_Prosperity3_GraniteFlow/data/round5

In [5]:
df1 = pd.read_csv('raw/prices.csv')
df2 = pd.read_csv('raw/trades.csv')

In [6]:
products = df1['product'].unique()
products

array(['PICNIC_BASKET2', 'VOLCANIC_ROCK_VOUCHER_9750', 'RAINFOREST_RESIN',
       'VOLCANIC_ROCK_VOUCHER_9500', 'VOLCANIC_ROCK', 'SQUID_INK',
       'VOLCANIC_ROCK_VOUCHER_10250', 'KELP', 'DJEMBES', 'CROISSANTS',
       'MAGNIFICENT_MACARONS', 'JAMS', 'VOLCANIC_ROCK_VOUCHER_10000',
       'VOLCANIC_ROCK_VOUCHER_10500', 'PICNIC_BASKET1'], dtype=object)

In [7]:
df2

,timestamp,buyer,seller,symbol,currency,price,quantity
0,0,Caesar,Paris,CROISSANTS,SEASHELLS,4265.0,8
1,100,Charlie,Paris,RAINFOREST_RESIN,SEASHELLS,9999.0,1
2,200,Paris,Caesar,CROISSANTS,SEASHELLS,4266.0,8
3,200,Paris,Caesar,JAMS,SEASHELLS,6520.0,7
4,200,Paris,Charlie,KELP,SEASHELLS,2046.0,1
...,...,...,...,...,...,...,...
53472,2999600,Caesar,Pablo,VOLCANIC_ROCK,SEASHELLS,10104.0,2
53473,2999700,Charlie,Paris,KELP,SEASHELLS,2011.0,1
53474,2999700,Charlie,Paris,SQUID_INK,SEASHELLS,1899.0,1
53475,2999700,Peter,Caesar,VOLCANIC_ROCK,SEASHELLS,10107.0,10
53476,2999800,Caesar,Paris,DJEMBES,SEASHELLS,13409.0,2

In [8]:
#取出'VOLCANIC_ROCK_VOUCHER_9500',  'VOLCANIC_ROCK_VOUCHER_9750', 'VOLCANIC_ROCK_VOUCHER_10000'
df1_rock = df1[df1['product'].isin(['VOLCANIC_ROCK', 'VOLCANIC_ROCK_VOUCHER_9500', 'VOLCANIC_ROCK_VOUCHER_9750', 'VOLCANIC_ROCK_VOUCHER_10000', 'VOLCANIC_ROCK_VOUCHER_10250', 'VOLCANIC_ROCK_VOUCHER_10500'])]

df2_rock = df2[df2['symbol'].isin(['VOLCANIC_ROCK', 'VOLCANIC_ROCK_VOUCHER_9500', 'VOLCANIC_ROCK_VOUCHER_9750', 'VOLCANIC_ROCK_VOUCHER_10000', 'VOLCANIC_ROCK_VOUCHER_10250', 'VOLCANIC_ROCK_VOUCHER_10500'])]

In [9]:
df2

,timestamp,buyer,seller,symbol,currency,price,quantity
0,0,Caesar,Paris,CROISSANTS,SEASHELLS,4265.0,8
1,100,Charlie,Paris,RAINFOREST_RESIN,SEASHELLS,9999.0,1
2,200,Paris,Caesar,CROISSANTS,SEASHELLS,4266.0,8
3,200,Paris,Caesar,JAMS,SEASHELLS,6520.0,7
4,200,Paris,Charlie,KELP,SEASHELLS,2046.0,1
...,...,...,...,...,...,...,...
53472,2999600,Caesar,Pablo,VOLCANIC_ROCK,SEASHELLS,10104.0,2
53473,2999700,Charlie,Paris,KELP,SEASHELLS,2011.0,1
53474,2999700,Charlie,Paris,SQUID_INK,SEASHELLS,1899.0,1
53475,2999700,Peter,Caesar,VOLCANIC_ROCK,SEASHELLS,10107.0,10
53476,2999800,Caesar,Paris,DJEMBES,SEASHELLS,13409.0,2

In [12]:
rock_buyers = df2_rock['buyer'].unique()
rock_sellers = df2_rock['seller'].unique()
print(f"rock buyers: {rock_buyers}, rock sellers: {rock_sellers}")
#计算每个trader的交易量
rock_trader_buy = df2_rock.groupby('buyer')['quantity'].sum()
rock_trader_sell = df2_rock.groupby('seller')['quantity'].sum()
print(f"rock trader buy: {rock_trader_buy}, rock trader sell: {rock_trader_sell}")

rock buyers: ['Camilla' 'Caesar' 'Penelope' 'Pablo' 'Peter'], rock sellers: ['Caesar' 'Peter' 'Pablo' 'Camilla' 'Penelope']
rock trader buy: buyer
Caesar       15481
Camilla     126864
Pablo          662
Penelope     14966
Peter         1439
Name: quantity, dtype: int64, rock trader sell: seller
Caesar      107649
Camilla      14244
Pablo        19427
Penelope     16459
Peter         1633
Name: quantity, dtype: int64