In [2]:
%pwd
%cd ../../../data/round5/

/Users/IvanTang/quant/IMC_Prosperity3_GraniteFlow/data/round5

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('trades.csv')

In [6]:
df

,timestamp,buyer,seller,symbol,currency,price,quantity
0,0,Caesar,Paris,CROISSANTS,SEASHELLS,4265.0,8
1,100,Charlie,Paris,RAINFOREST_RESIN,SEASHELLS,9999.0,1
2,200,Paris,Caesar,CROISSANTS,SEASHELLS,4266.0,8
3,200,Paris,Caesar,JAMS,SEASHELLS,6520.0,7
4,200,Paris,Charlie,KELP,SEASHELLS,2046.0,1
...,...,...,...,...,...,...,...
53472,2999600,Caesar,Pablo,VOLCANIC_ROCK,SEASHELLS,10104.0,2
53473,2999700,Charlie,Paris,KELP,SEASHELLS,2011.0,1
53474,2999700,Charlie,Paris,SQUID_INK,SEASHELLS,1899.0,1
53475,2999700,Peter,Caesar,VOLCANIC_ROCK,SEASHELLS,10107.0,10
53476,2999800,Caesar,Paris,DJEMBES,SEASHELLS,13409.0,2

In [9]:
traders = list(pd.concat([df['buyer'], df['seller']]).unique())
traders

['Caesar',
 'Charlie',
 'Paris',
 'Camilla',
 'Pablo',
 'Penelope',
 'Gary',
 'Peter',
 'Gina',
 'Olivia',
 'Olga']

In [ ]:
products = df['symbol'].unique()
for product in products:
    df_product = df[df['symbol'] == product]
    df_product.to_csv(f'{product}_trade.csv', index=False)

array(['CROISSANTS', 'RAINFOREST_RESIN', 'JAMS', 'KELP', 'SQUID_INK',
       'PICNIC_BASKET1', 'PICNIC_BASKET2', 'MAGNIFICENT_MACARONS',
       'DJEMBES', 'VOLCANIC_ROCK_VOUCHER_10000',
       'VOLCANIC_ROCK_VOUCHER_10250', 'VOLCANIC_ROCK_VOUCHER_10500',
       'VOLCANIC_ROCK_VOUCHER_9500', 'VOLCANIC_ROCK_VOUCHER_9750',
       'VOLCANIC_ROCK'], dtype=object)