In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
traders = list(pd.concat([df['buyer'], df['seller']]).unique())
traders

['Caesar',
 'Charlie',
 'Paris',
 'Camilla',
 'Pablo',
 'Penelope',
 'Gary',
 'Peter',
 'Gina',
 'Olivia',
 'Olga']

In [17]:
%pwd

'/Users/IvanTang/quant/IMC_Prosperity3_GraniteFlow/data/round5/raw'

In [18]:
df1 = pd.read_csv('prices.csv')
df2 = pd.read_csv('trades.csv')

In [40]:
#计算每个trader的交易量
trader_buy = df2.groupby('buyer')['quantity'].sum()
trader_sell = df2.groupby('seller')['quantity'].sum()
print(f"trader buy: {trader_buy}, trader sell: {trader_sell}")

trader buy: buyer
Caesar       55726
Camilla     136275
Charlie      33711
Gary          6685
Gina          2119
Olivia          99
Pablo         6750
Paris        29531
Penelope     28792
Peter         1439
Name: quantity, dtype: int64, trader sell: seller
Caesar      132125
Camilla      36863
Charlie      26978
Gary          6381
Gina          5032
Olga             9
Olivia          99
Pablo        30151
Paris        31965
Penelope     29891
Peter         1633
Name: quantity, dtype: int64

In [41]:
#计算每个trader在不同产品上的交易量
trader_buy_product = df2.groupby(['buyer', 'symbol'])['quantity'].sum()
trader_sell_product = df2.groupby(['seller', 'symbol'])['quantity'].sum()
print(f"trader buy product: {trader_buy_product}, trader sell product: {trader_sell_product}")

trader buy product: buyer     symbol
Caesar    CROISSANTS                     12299
          DJEMBES                         6408
          JAMS                           16280
          KELP                             587
          MAGNIFICENT_MACARONS            1992
                                         ...
Penelope  VOLCANIC_ROCK_VOUCHER_10250     1233
          VOLCANIC_ROCK_VOUCHER_10500      293
          VOLCANIC_ROCK_VOUCHER_9500      4952
          VOLCANIC_ROCK_VOUCHER_9750      4961
Peter     VOLCANIC_ROCK                   1439
Name: quantity, Length: 73, dtype: int64, trader sell product: seller    symbol
Caesar    CROISSANTS                     7039
          DJEMBES                        4224
          JAMS                           8439
          KELP                           1393
          MAGNIFICENT_MACARONS            101
                                         ...
Penelope  VOLCANIC_ROCK_VOUCHER_10250    1412
          VOLCANIC_ROCK_VOUCHER_10500     369
          VOLCANIC_ROCK_VOUCHER_9500     5358
          VOLCANIC_ROCK_VOUCHER_9750     5400
Peter     VOLCANIC_ROCK                  1633
Name: quantity, Length: 74, dtype: int64

In [47]:
# 将分组结果转换为DataFrame并重塑为宽表格式
buy_df = trader_buy_product.unstack()
sell_df = trader_sell_product.unstack()
#填充NAN为0
buy_df.fillna(0, inplace=True)
sell_df.fillna(0, inplace=True)

# 保存为CSV文件
buy_df.to_csv('trader_buy_by_product.csv')
sell_df.to_csv('trader_sell_by_product.csv')

# 如果需要合并买卖数据到一个文件
# 把买卖算在一起
combined_df = buy_df + sell_df
combined_df.fillna(0, inplace=True)
#加一个Total列
combined_df['Total'] = combined_df.sum(axis=1)
#排序
combined_df = combined_df.sort_values(by='Total', ascending=False)
combined_df = combined_df.astype(int)
combined_df.to_csv('trader_trades_combined.csv')

In [48]:
combined_df

symbol,CROISSANTS,DJEMBES,JAMS,KELP,MAGNIFICENT_MACARONS,PICNIC_BASKET1,PICNIC_BASKET2,RAINFOREST_RESIN,SQUID_INK,VOLCANIC_ROCK,VOLCANIC_ROCK_VOUCHER_10000,VOLCANIC_ROCK_VOUCHER_10250,VOLCANIC_ROCK_VOUCHER_10500,VOLCANIC_ROCK_VOUCHER_9500,VOLCANIC_ROCK_VOUCHER_9750,Total
Caesar,19338,10632,24719,1980,2093,1543,1063,1347,2006,21380,22738,21070,13319,21986,22637,187851
Camilla,4662,2225,7727,3188,1761,4176,4031,868,3392,0,31753,25578,15782,33628,34367,173138
Paris,14700,8411,17524,6627,4152,0,0,3509,6573,0,0,0,0,0,0,61496
Charlie,0,0,0,20325,1970,195,2097,15669,20433,0,0,0,0,0,0,60689
Penelope,0,0,0,7150,0,3091,4312,5513,7192,0,7447,2645,662,10310,10361,58683
Pablo,0,0,0,2834,0,2803,2609,5730,2836,748,3818,3845,3963,3840,3875,36901
Gary,0,0,0,5188,0,0,0,2667,5211,0,0,0,0,0,0,13066
Gina,0,0,0,2615,0,0,0,1977,2559,0,0,0,0,0,0,7151
Peter,0,0,0,0,0,0,0,0,0,3072,0,0,0,0,0,3072
Olivia,18,0,0,90,0,0,0,0,90,0,0,0,0,0,0,198
Olga,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0