In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
traders = list(pd.concat([df['buyer'], df['seller']]).unique())
traders

['Caesar',
 'Charlie',
 'Paris',
 'Camilla',
 'Pablo',
 'Penelope',
 'Gary',
 'Peter',
 'Gina',
 'Olivia',
 'Olga']

In [17]:
%pwd

'/Users/IvanTang/quant/IMC_Prosperity3_GraniteFlow/data/round5/raw'

In [18]:
df1 = pd.read_csv('prices.csv')
df2 = pd.read_csv('trades.csv')

In [50]:
df1

,Unnamed: 0,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,0,2,0,PICNIC_BASKET2,30094.0,11.0,30093.0,27.0,NaN,NaN,30099.0,1.0,30100.0,37.0,NaN,NaN,30096.5,0.0
1,1,2,0,VOLCANIC_ROCK_VOUCHER_9750,469.0,11.0,NaN,NaN,NaN,NaN,470.0,11.0,NaN,NaN,NaN,NaN,469.5,0.0
2,2,2,0,RAINFOREST_RESIN,9992.0,35.0,NaN,NaN,NaN,NaN,10008.0,35.0,NaN,NaN,NaN,NaN,10000.0,0.0
3,3,2,0,VOLCANIC_ROCK_VOUCHER_9500,718.0,11.0,NaN,NaN,NaN,NaN,719.0,11.0,NaN,NaN,NaN,NaN,718.5,0.0
4,4,2,0,VOLCANIC_ROCK,10218.0,150.0,10217.0,64.0,NaN,NaN,10219.0,150.0,10220.0,64.0,NaN,NaN,10218.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449995,149995,4,2999900,VOLCANIC_ROCK_VOUCHER_10500,0.0,11.0,NaN,NaN,NaN,NaN,2.0,11.0,NaN,NaN,NaN,NaN,1.0,0.0
449996,149996,4,2999900,DJEMBES,13409.0,30.0,13408.0,50.0,NaN,NaN,13410.0,80.0,NaN,NaN,NaN,NaN,13409.5,0.0
449997,149997,4,2999900,VOLCANIC_ROCK,10104.0,146.0,NaN,NaN,NaN,NaN,10106.0,104.0,10107.0,42.0,NaN,NaN,10105.0,0.0
449998,149998,4,2999900,RAINFOREST_RESIN,9992.0,35.0,NaN,NaN,NaN,NaN,9999.0,1.0,10008.0,35.0,NaN,NaN,9995.5,0.0
449999,149999,4,2999900,VOLCANIC_ROCK_VOUCHER_10250,10.0,11.0,NaN,NaN,NaN,NaN,11.0,11.0,NaN,NaN,NaN,NaN,10.5,0.0

In [40]:
#计算每个trader的交易量
trader_buy = df2.groupby('buyer')['quantity'].sum()
trader_sell = df2.groupby('seller')['quantity'].sum()
print(f"trader buy: {trader_buy}, trader sell: {trader_sell}")

trader buy: buyer
Caesar       55726
Camilla     136275
Charlie      33711
Gary          6685
Gina          2119
Olivia          99
Pablo         6750
Paris        29531
Penelope     28792
Peter         1439
Name: quantity, dtype: int64, trader sell: seller
Caesar      132125
Camilla      36863
Charlie      26978
Gary          6381
Gina          5032
Olga             9
Olivia          99
Pablo        30151
Paris        31965
Penelope     29891
Peter         1633
Name: quantity, dtype: int64

In [41]:
#计算每个trader在不同产品上的交易量
trader_buy_product = df2.groupby(['buyer', 'symbol'])['quantity'].sum()
trader_sell_product = df2.groupby(['seller', 'symbol'])['quantity'].sum()
print(f"trader buy product: {trader_buy_product}, trader sell product: {trader_sell_product}")

trader buy product: buyer     symbol
Caesar    CROISSANTS                     12299
          DJEMBES                         6408
          JAMS                           16280
          KELP                             587
          MAGNIFICENT_MACARONS            1992
                                         ...
Penelope  VOLCANIC_ROCK_VOUCHER_10250     1233
          VOLCANIC_ROCK_VOUCHER_10500      293
          VOLCANIC_ROCK_VOUCHER_9500      4952
          VOLCANIC_ROCK_VOUCHER_9750      4961
Peter     VOLCANIC_ROCK                   1439
Name: quantity, Length: 73, dtype: int64, trader sell product: seller    symbol
Caesar    CROISSANTS                     7039
          DJEMBES                        4224
          JAMS                           8439
          KELP                           1393
          MAGNIFICENT_MACARONS            101
                                         ...
Penelope  VOLCANIC_ROCK_VOUCHER_10250    1412
          VOLCANIC_ROCK_VOUCHER_10500     369
          VOLCANIC_ROCK_VOUCHER_9500     5358
          VOLCANIC_ROCK_VOUCHER_9750     5400
Peter     VOLCANIC_ROCK                  1633
Name: quantity, Length: 74, dtype: int64

In [47]:
# 将分组结果转换为DataFrame并重塑为宽表格式
buy_df = trader_buy_product.unstack()
sell_df = trader_sell_product.unstack()
#填充NAN为0
buy_df.fillna(0, inplace=True)
sell_df.fillna(0, inplace=True)

# 保存为CSV文件
buy_df.to_csv('trader_buy_by_product.csv')
sell_df.to_csv('trader_sell_by_product.csv')

# 如果需要合并买卖数据到一个文件
# 把买卖算在一起
combined_df = buy_df + sell_df
combined_df.fillna(0, inplace=True)
#加一个Total列
combined_df['Total'] = combined_df.sum(axis=1)
#排序
combined_df = combined_df.sort_values(by='Total', ascending=False)
combined_df = combined_df.astype(int)
combined_df.to_csv('trader_trades_combined.csv')

In [48]:
combined_df

symbol,CROISSANTS,DJEMBES,JAMS,KELP,MAGNIFICENT_MACARONS,PICNIC_BASKET1,PICNIC_BASKET2,RAINFOREST_RESIN,SQUID_INK,VOLCANIC_ROCK,VOLCANIC_ROCK_VOUCHER_10000,VOLCANIC_ROCK_VOUCHER_10250,VOLCANIC_ROCK_VOUCHER_10500,VOLCANIC_ROCK_VOUCHER_9500,VOLCANIC_ROCK_VOUCHER_9750,Total
Caesar,19338,10632,24719,1980,2093,1543,1063,1347,2006,21380,22738,21070,13319,21986,22637,187851
Camilla,4662,2225,7727,3188,1761,4176,4031,868,3392,0,31753,25578,15782,33628,34367,173138
Paris,14700,8411,17524,6627,4152,0,0,3509,6573,0,0,0,0,0,0,61496
Charlie,0,0,0,20325,1970,195,2097,15669,20433,0,0,0,0,0,0,60689
Penelope,0,0,0,7150,0,3091,4312,5513,7192,0,7447,2645,662,10310,10361,58683
Pablo,0,0,0,2834,0,2803,2609,5730,2836,748,3818,3845,3963,3840,3875,36901
Gary,0,0,0,5188,0,0,0,2667,5211,0,0,0,0,0,0,13066
Gina,0,0,0,2615,0,0,0,1977,2559,0,0,0,0,0,0,7151
Peter,0,0,0,0,0,0,0,0,0,3072,0,0,0,0,0,3072
Olivia,18,0,0,90,0,0,0,0,90,0,0,0,0,0,0,198
Olga,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [52]:
df2

,timestamp,buyer,seller,symbol,currency,price,quantity
0,0,Caesar,Paris,CROISSANTS,SEASHELLS,4265.0,8
1,100,Charlie,Paris,RAINFOREST_RESIN,SEASHELLS,9999.0,1
2,200,Paris,Caesar,CROISSANTS,SEASHELLS,4266.0,8
3,200,Paris,Caesar,JAMS,SEASHELLS,6520.0,7
4,200,Paris,Charlie,KELP,SEASHELLS,2046.0,1
...,...,...,...,...,...,...,...
53472,2999600,Caesar,Pablo,VOLCANIC_ROCK,SEASHELLS,10104.0,2
53473,2999700,Charlie,Paris,KELP,SEASHELLS,2011.0,1
53474,2999700,Charlie,Paris,SQUID_INK,SEASHELLS,1899.0,1
53475,2999700,Peter,Caesar,VOLCANIC_ROCK,SEASHELLS,10107.0,10
53476,2999800,Caesar,Paris,DJEMBES,SEASHELLS,13409.0,2

In [56]:
df1

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,2,0,PICNIC_BASKET2,30094.0,11.0,30093.0,27.0,NaN,NaN,30099.0,1.0,30100.0,37.0,NaN,NaN,30096.5,0.0
1,2,0,VOLCANIC_ROCK_VOUCHER_9750,469.0,11.0,NaN,NaN,NaN,NaN,470.0,11.0,NaN,NaN,NaN,NaN,469.5,0.0
2,2,0,RAINFOREST_RESIN,9992.0,35.0,NaN,NaN,NaN,NaN,10008.0,35.0,NaN,NaN,NaN,NaN,10000.0,0.0
3,2,0,VOLCANIC_ROCK_VOUCHER_9500,718.0,11.0,NaN,NaN,NaN,NaN,719.0,11.0,NaN,NaN,NaN,NaN,718.5,0.0
4,2,0,VOLCANIC_ROCK,10218.0,150.0,10217.0,64.0,NaN,NaN,10219.0,150.0,10220.0,64.0,NaN,NaN,10218.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449995,4,2999900,VOLCANIC_ROCK_VOUCHER_10500,0.0,11.0,NaN,NaN,NaN,NaN,2.0,11.0,NaN,NaN,NaN,NaN,1.0,0.0
449996,4,2999900,DJEMBES,13409.0,30.0,13408.0,50.0,NaN,NaN,13410.0,80.0,NaN,NaN,NaN,NaN,13409.5,0.0
449997,4,2999900,VOLCANIC_ROCK,10104.0,146.0,NaN,NaN,NaN,NaN,10106.0,104.0,10107.0,42.0,NaN,NaN,10105.0,0.0
449998,4,2999900,RAINFOREST_RESIN,9992.0,35.0,NaN,NaN,NaN,NaN,9999.0,1.0,10008.0,35.0,NaN,NaN,9995.5,0.0
449999,4,2999900,VOLCANIC_ROCK_VOUCHER_10250,10.0,11.0,NaN,NaN,NaN,NaN,11.0,11.0,NaN,NaN,NaN,NaN,10.5,0.0

In [66]:
trader = traders[0]
balance = {}
position = {}

# 获取该 trader 所有相关交易
df2_trader = df2[(df2['buyer'] == trader) | (df2['seller'] == trader)].copy()
df2_trader.sort_values(by='timestamp', inplace=True)

# 遍历交易
for _, row in df2_trader.iterrows():
    symbol = row['symbol']
    quantity = row['quantity']
    price = row['price']

    if symbol not in balance:
        balance[symbol] = 0
        position[symbol] = 0

    if row['buyer'] == trader:
        balance[symbol] -= quantity * price
        position[symbol] += quantity
    if row['seller'] == trader:
        balance[symbol] += quantity * price
        position[symbol] -= quantity

# 平仓未结头寸
for symbol in position:
    if position[symbol] != 0:
        # 使用该产品的最终 mid_price 平仓
        liquidate_price = df1[df1['product'] == symbol]['mid_price'].iloc[-1]
        balance[symbol] -= position[symbol] * liquidate_price

print(balance)

{'CROISSANTS': -44874442.0, 'JAMS': -101877844.0, 'MAGNIFICENT_MACARONS': -2748888.5, 'DJEMBES': -58408189.0, 'VOLCANIC_ROCK_VOUCHER_10000': 5118391.0, 'VOLCANIC_ROCK_VOUCHER_10250': 705081.0, 'VOLCANIC_ROCK_VOUCHER_10500': 59449.0, 'VOLCANIC_ROCK_VOUCHER_9500': 23441460.0, 'VOLCANIC_ROCK_VOUCHER_9750': 14077940.5, 'VOLCANIC_ROCK': -4454708.0, 'PICNIC_BASKET1': -26035140.5, 'KELP': 3261060.0, 'SQUID_INK': 3063546.0, 'PICNIC_BASKET2': 1032219.5, 'RAINFOREST_RESIN': -57392.5}

In [68]:
traders

['Caesar',
 'Charlie',
 'Paris',
 'Camilla',
 'Pablo',
 'Penelope',
 'Gary',
 'Peter',
 'Gina',
 'Olivia',
 'Olga']

In [72]:
results = {}

for trader in traders:
    balance = {}
    position = {}

    df2_trader = df2[(df2['buyer'] == trader) | (df2['seller'] == trader)].copy()
    df2_trader.sort_values(by='timestamp', inplace=True)

    for _, row in df2_trader.iterrows():
        symbol = row['symbol']
        quantity = row['quantity']
        price = row['price']

        if symbol not in balance:
            balance[symbol] = 0
            position[symbol] = 0

        if row['buyer'] == trader:
            balance[symbol] -= quantity * price
            position[symbol] += quantity
        if row['seller'] == trader:
            balance[symbol] += quantity * price
            position[symbol] -= quantity

    for symbol in position:
        if position[symbol] != 0:
            liquidate_price = df1[df1['product'] == symbol]['mid_price'].iloc[-1]
            balance[symbol] -= position[symbol] * liquidate_price

    results[trader] = balance

df_profit = pd.DataFrame(results).T.fillna(0)

df_profit = df_profit[sorted(df_profit.columns)]
df_profit = df_profit.round(2)
df_profit.to_csv('../preprocessed/trader_profit.csv')
print(df_profit)

          CROISSANTS     DJEMBES         JAMS        KELP  \
Caesar   -44874442.0 -58408189.0 -101877844.0   3261060.0
Charlie          0.0         0.0          0.0 -15429683.5
Paris      5443298.0  -1048815.5    4499392.0   2780203.5
Camilla   39430619.0  59457004.5   97378452.0    715152.0
Pablo            0.0         0.0          0.0   4553947.0
Penelope         0.0         0.0          0.0   -349419.0
Gary             0.0         0.0          0.0   -763678.0
Peter            0.0         0.0          0.0         0.0
Gina             0.0         0.0          0.0   5195189.5
Olivia         525.0         0.0          0.0       720.0
Olga             0.0         0.0          0.0     36508.5

          MAGNIFICENT_MACARONS  PICNIC_BASKET1  PICNIC_BASKET2  \
Caesar              -2748888.5     -26035140.5       1032219.5
Charlie              2702967.0      -7131051.5     -30668796.5
Paris                  74302.0             0.0             0.0
Camilla               -28380.5     -77788011.0     -50613823.5
Pablo                      0.0     108732009.5      80627985.5
Penelope                   0.0       2222193.5       -377585.0
Gary                       0.0             0.0             0.0
Peter                      0.0             0.0             0.0
Gina                       0.0             0.0             0.0
Olivia                     0.0             0.0             0.0
Olga                       0.0             0.0             0.0

          RAINFOREST_RESIN   SQUID_INK  VOLCANIC_ROCK  \
Caesar            -57392.5   3063546.0     -4454708.0
Charlie         -1238977.5 -15586237.5            0.0
Paris             -76169.5   2797902.5            0.0
Camilla          -477288.0    918512.0            0.0
Pablo             -24851.0   4705111.0       564046.0
Penelope        -4178736.5   -446711.0            0.0
Gary             2119715.5   -869657.5            0.0
Peter                  0.0         0.0      3890662.0
Gina             3933699.5   5409627.5            0.0
Olivia                 0.0      7907.0            0.0
Olga                   0.0         0.0            0.0

          VOLCANIC_ROCK_VOUCHER_10000  VOLCANIC_ROCK_VOUCHER_10250  \
Caesar                      5118391.0                     705081.0
Charlie                           0.0                          0.0
Paris                             0.0                          0.0
Camilla                    -6130895.5                    -841247.0
Pablo                        922439.0                     127578.5
Penelope                      90065.5                       8587.5
Gary                              0.0                          0.0
Peter                             0.0                          0.0
Gina                              0.0                          0.0
Olivia                            0.0                          0.0
Olga                              0.0                          0.0

          VOLCANIC_ROCK_VOUCHER_10500  VOLCANIC_ROCK_VOUCHER_9500  \
Caesar                        59449.0                  23441460.0
Charlie                           0.0                         0.0
Paris                             0.0                         0.0
Camilla                      -71879.0                 -28340223.0
Pablo                         12070.0                   4424846.0
Penelope                        360.0                    473917.0
Gary                              0.0                         0.0
Peter                             0.0                         0.0
Gina                              0.0                         0.0
Olivia                            0.0                         0.0
Olga                              0.0                         0.0

          VOLCANIC_ROCK_VOUCHER_9750
Caesar                    14077940.5
Charlie                          0.0
Paris                            0.0
Camilla                  -16881388.5
Pablo                      2513710.5
Penelope                    289737.5
Gary                             0.0
Peter                            0.0
Gina                             0.0
Olivia                           0.0
Olga                             0.0

In [71]:
%pwd
%ls

CROISSANTS.csv                         VOLCANIC_ROCK.csv
CROISSANTS_trade.csv                   VOLCANIC_ROCK_VOUCHER_10000.csv
DJEMBES.csv                            VOLCANIC_ROCK_VOUCHER_10000_trade.csv
DJEMBES_trade.csv                      VOLCANIC_ROCK_VOUCHER_10250.csv
JAMS.csv                               VOLCANIC_ROCK_VOUCHER_10250_trade.csv
JAMS_trade.csv                         VOLCANIC_ROCK_VOUCHER_10500.csv
KELP.csv                               VOLCANIC_ROCK_VOUCHER_10500_trade.csv
KELP_trade.csv                         VOLCANIC_ROCK_VOUCHER_9500.csv
MAGNIFICENT_MACARONS.csv               VOLCANIC_ROCK_VOUCHER_9500_trade.csv
MAGNIFICENT_MACARONS_trade.csv         VOLCANIC_ROCK_VOUCHER_9750.csv
PICNIC_BASKET1.csv                     VOLCANIC_ROCK_VOUCHER_9750_trade.csv
PICNIC_BASKET1_trade.csv               VOLCANIC_ROCK_trade.csv
PICNIC_BASKET2.csv                     prices.csv
PICNIC_BASKET2_trade.csv               trader_buy_by_product.csv
RAINFOREST_RESIN.csv                   trader_sell_by_product.csv
RAINFOREST_RESIN_trade.csv             trader_trades_combined.csv
SQUID_INK.csv                          trades.csv
SQUID_INK_trade.csv